<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid-19 | Error</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5 p-5">
        <br/>
        <div class="alert alert-success" role="alert">
            <!-- <%= variableName %> -->
            <center><strong>Oh snap!</strong><h3><%=error_message%></h3></center>
        </div>
        
        <br/>
        <center><h2>Want to perform another search?&nbsp;&nbsp; <a class="btn btn-warning" href="/">Home</a></h2></center>
    </div>
    <!-- <center ><footer style="position: absolute; bottom: 0; margin-left: 40%;"><h3>By Karun Karthik</h3></footer></center> -->
</body>
</html>