<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Covid-19 App</title>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <div class="d-flex flex-column align-content-center">
        <center><h1 class="m-3">Covid-19 Statistics</h1></center>
        <br/>
        <center><img src="https://image.freepik.com/free-vector/couple-professionals-analyzing-graphs_74855-4393.jpg" width="400px"></center>
        <br/>
        <form action="/searchCountry" method="GET" class="mt-2 justify-content-center d-flex">
            <input type="text" class="form-control w-25" placeholder="Enter the country name" name="countries"/>
            <button class="ml-3 btn btn-success">Search Country</button>
        </form>
    </div>
    <center ><footer style="position: absolute; bottom: 0; margin-left: 40%;"><h3>By Karun Karthik</h3></footer></center>
</body>
</html>